@page "/secured"
@page "/signin"
@using Auth.Web.Services
@rendermode InteractiveServer
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]

<PageTitle>Secured</PageTitle>
<h3>Secure Page</h3>

<p>@UserName - You must be logged in to see this content.</p>

<button class="btn btn-primary" @onclick="DoApiRequest">ApiRequest</button>

<hr />
<h4>Resposta da Api</h4>
<p>@response</p>